<div class="col-md-6 outer-height">
    <div class="scroll-box outer-height">
        <div class="scroll-box-header">
            <h2 class="scroll-box-title">Список диалогов</h2>
        </div>
        <div class="scroll-box-content outer-height">

            <div class="panel panel-default" ng-repeat="dialog in dialogs.list" ng-click="dialogs.viewDialog(dialog.id)">
                <div class="panel-heading">{{dialog.created}}</div>
                <div class="panel-body">
                    {{dialog.subject}}
                </div>
            </div>


        </div>
    </div>
</div>

<div class="col-md-6 outer-height dialog-container" ui-view ng-class="{loaded: dialogs.loadedDialog}"></div>